* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body */
body {
    background-color: #ce11ae62;
}

/*------ Header Start  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #16a5ec;
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;  
}

/* This color applies to Hori and n  */
/* display the links in a horizontal position rather than one under the other */
header h1 {
    display: inline-block;
    font-size: 45px;        
    color: #da1748;   
}

.seo {
    color: #d9dcd6;
}

nav {
    width: 100%;
    height:20px ;
    color: black;
    overflow: auto;    
}

ul {
margin-top: auto;
}

/* to be able to move around the links*/
ul li {
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 20px;
}

ul li a {clear: both;
    display: inline-block;
    overflow: auto;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 0 20px;
}

ul li a:hover {
   color: rgb(21, 180, 21);
}

                    /*------ End of Header Section */


p {
    font-size: 16px;
    color: white;
}

/* Marketing Image Start  */
figure img {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-position: center;
    border-style: double;
}
                /* Marketing Image Ends */

/* Left Side Page Content Starts Here */              
section {
    width: 75%;
    display: inline-block;
    margin-left: 15px;          
}

/* Article section images placements */
.float-left {
    float: left;
    margin-right: 15px;
    border-style: solid;
}
.float-right {
    float: right;
    margin-left: 15px;
    border-style: solid;
}

         /* Left Side Page Section Content Boxes */
         /* the attributes of these are all the same, but because I wanted specific background
                color, is the reason for listing these separately */

.middle-section {
    clear: both;
    margin-bottom: 20px;
    overflow: auto; 
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    outline-style: outset;  
  }              
#search-engine-optimization {
    background-color: #88c4e9;
}
#online-reputation-management {
    background-color: #0072bb;
}
#social-media-marketing {
    background-color: #88c4e9;
    margin-bottom: 100px;
}
article img {
    max-height: 200px;
    
}
article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
       /* This ends the Left Side Page Contents section*/

/* Right side Page Content starts here */
.benefits {
    margin-right: 20px;
    padding: 20px;
    float: right;
    width: 20%;
    height: 940px;
    border-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
     
aside h3 {clear: both;
    margin-bottom: 10px;
    overflow: auto; 
    margin-top: 10px;
    color: #ffffff;    
    text-align: center;    
}

aside  img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

img {border-style:outset}

                           /* Right side section of the Page Ends Here */

 /* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    padding: 10px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: darkorchid;
}

footer h2 {
    padding: 10px;
    font-size: 20px;
    
}
